@font-face {
	font-family: 'composer-icons';
	src:url('fonts/composer-icons.eot');
	src:url('fonts/composer-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/composer-icons.woff') format('woff'),
		url('fonts/composer-icons.ttf') format('truetype'),
		url('fonts/composer-icons.svg#composer-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ci-"], [class*=" ci-"] {
	font-family: 'composer-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ci-omega:before {
	content: "\e61d";
}
.ci-camera:before {
	content: "\e600";
}
.ci-film:before {
	content: "\e601";
}
.ci-image:before {
	content: "\e602";
}
.ci-images:before {
	content: "\e603";
}
.ci-pie:before {
	content: "\e604";
}
.ci-stats:before {
	content: "\e605";
}
.ci-bars:before {
	content: "\e606";
}
.ci-bars2:before {
	content: "\e607";
}
.ci-lock:before {
	content: "\e608";
}
.ci-lock2:before {
	content: "\e609";
}
.ci-unlocked:before {
	content: "\e60a";
}
.ci-list:before {
	content: "\e60b";
}
.ci-list2:before {
	content: "\e60c";
}
.ci-numbered-list:before {
	content: "\e60d";
}
.ci-menu:before {
	content: "\e60e";
}
.ci-close:before {
	content: "\e60f";
}
.ci-checkmark:before {
	content: "\e610";
}
.ci-checkmark2:before {
	content: "\e611";
}
.ci-spell-check:before {
	content: "\e612";
}
.ci-minus:before {
	content: "\e613";
}
.ci-plus:before {
	content: "\e614";
}
.ci-arrow-up-left:before {
	content: "\e615";
}
.ci-arrow-up:before {
	content: "\e616";
}
.ci-arrow-up-right:before {
	content: "\e617";
}
.ci-arrow-right:before {
	content: "\e618";
}
.ci-arrow-down-right:before {
	content: "\e619";
}
.ci-arrow-down:before {
	content: "\e61a";
}
.ci-arrow-down-left:before {
	content: "\e61b";
}
.ci-arrow-left:before {
	content: "\e61c";
}
.ci-font:before {
	content: "\e61e";
}
.ci-filter:before {
	content: "\e61f";
}
.ci-filter2:before {
	content: "\e620";
}
.ci-crop:before {
	content: "\e621";
}
.ci-scissors:before {
	content: "\e622";
}
.ci-bold:before {
	content: "\e623";
}
.ci-underline:before {
	content: "\e624";
}
.ci-italic:before {
	content: "\e625";
}
.ci-omega2:before {
	content: "\e627";
}
.ci-sigma:before {
	content: "\e628";
}
.ci-embed:before {
	content: "\e629";
}
.ci-code:before {
	content: "\e62a";
}
.ci-new-tab:before {
	content: "\e62b";
}
.ci-insert-template:before {
	content: "\e62c";
}
.ci-paragraph-left:before {
	content: "\e62d";
}
.ci-paragraph-center:before {
	content: "\e62e";
}
.ci-paragraph-right:before {
	content: "\e62f";
}
.ci-paragraph-justify:before {
	content: "\e630";
}
.ci-indent-increase:before {
	content: "\e631";
}
.ci-indent-decrease:before {
	content: "\e632";
}
.ci-eye:before {
	content: "\e633";
}
.ci-eye-blocked:before {
	content: "\e634";
}
.ci-eye2:before {
	content: "\e635";
}
.ci-star:before {
	content: "\e636";
}
.ci-star2:before {
	content: "\e637";
}
.ci-star3:before {
	content: "\e638";
}
.ci-heart:before {
	content: "\e639";
}
.ci-heart2:before {
	content: "\e63a";
}
.ci-heart-broken:before {
	content: "\e63b";
}
.ci-warning:before {
	content: "\e63c";
}
.ci-notification:before {
	content: "\e63d";
}
.ci-question:before {
	content: "\e63e";
}
.ci-info:before {
	content: "\e6ca";
}
.ci-info2:before {
	content: "\e6cb";
}
.ci-blocked:before {
	content: "\e6cc";
}
.ci-cancel-circle:before {
	content: "\e6cd";
}
.ci-checkmark-circle:before {
	content: "\e6ce";
}
.ci-spam:before {
	content: "\e6cf";
}
.ci-quotes-left:before {
	content: "\e6d0";
}
.ci-busy:before {
	content: "\e6d1";
}
.ci-spinner:before {
	content: "\e6d2";
}
.ci-spinner2:before {
	content: "\e6d3";
}
.ci-spinner3:before {
	content: "\e6d4";
}
.ci-spinner4:before {
	content: "\e6d5";
}
.ci-spinner5:before {
	content: "\e6d6";
}
.ci-spinner6:before {
	content: "\e6d7";
}
.ci-search:before {
	content: "\e6d8";
}
.ci-zoom-in:before {
	content: "\e6d9";
}
.ci-zoom-out:before {
	content: "\e6da";
}
.ci-tumblr:before {
	content: "\e6db";
}
.ci-twitter:before {
	content: "\e6dc";
}
.ci-twitter2:before {
	content: "\e6dd";
}
.ci-instagram:before {
	content: "\e6de";
}
.ci-google-plus:before {
	content: "\e6df";
}
.ci-google-plus2:before {
	content: "\e6e0";
}
.ci-facebook:before {
	content: "\e6e1";
}
.ci-facebook2:before {
	content: "\e6e2";
}
.ci-vimeo2:before {
	content: "\e6e3";
}
.ci-vimeo:before {
	content: "\e6e4";
}
.ci-pinterest:before {
	content: "\e6e5";
}
.ci-pinterest2:before {
	content: "\e6e6";
}
.ci-foursquare:before {
	content: "\e6e7";
}
.ci-foursquare2:before {
	content: "\e6e8";
}
.ci-history:before {
	content: "\e6e9";
}
.ci-clock:before {
	content: "\e6ea";
}
.ci-clock2:before {
	content: "\e6eb";
}
.ci-undo:before {
	content: "\e6ec";
}
.ci-bold2:before {
	content: "\e6ed";
}
.ci-italic2:before {
	content: "\e6ee";
}
.ci-link:before {
	content: "\e6ef";
}
.ci-redo:before {
	content: "\e6f0";
}
.ci-underline2:before {
	content: "\e6f2";
}
.ci-anchor:before {
	content: "\e6f3";
}
.ci-correction:before {
	content: "\e6f4";
}
.ci-markdown:before {
	content: "\e6f5";
}
.ci-ordered:before {
	content: "\e6f6";
}
.ci-quote:before {
	content: "\e6f7";
}
.ci-special-char:before {
	content: "\e6f8";
}
.ci-unordered:before {
	content: "\e6f9";
}
.ci-mdash:before {
	content: "\e6fa";
}
.ci-embed2:before {
	content: "\e6fb";
}
.ci-quiz:before {
	content: "\e6fc";
}
.ci-lists:before {
	content: "\e6fd";
}
.ci-slideshow:before {
	content: "\e6fe";
}
.ci-video:before {
	content: "\e6ff";
}
.ci-image2:before {
	content: "\e700";
}
.ci-twitter3:before {
	content: "\e701";
}
.ci-block-quote:before {
	content: "\e702";
}
.ci-media:before {
	content: "\e703";
}
.ci-undo2:before {
	content: "\e626";
}
.ci-redo2:before {
	content: "\e65f";
}
.ci-search2:before {
	content: "\e63f";
}
.ci-music:before {
	content: "\e640";
}
.ci-star4:before {
	content: "\e641";
}
.ci-star-empty:before {
	content: "\e642";
}
.ci-th-large:before {
	content: "\e643";
}
.ci-th:before {
	content: "\e644";
}
.ci-th-list:before {
	content: "\e645";
}
.ci-question-sign:before {
	content: "\e646";
}
.ci-info-sign:before {
	content: "\e647";
}
.ci-plus-sign:before {
	content: "\e648";
}
.ci-minus-sign:before {
	content: "\e649";
}
.ci-remove-sign:before {
	content: "\e64a";
}
.ci-ok-sign:before {
	content: "\e64b";
}
.ci-edit:before {
	content: "\e64c";
}
.ci-share:before {
	content: "\e64d";
}
.ci-check:before {
	content: "\e64e";
}
.ci-move:before {
	content: "\e64f";
}
.ci-link2:before {
	content: "\e650";
}
.ci-unlink:before {
	content: "\e651";
}
.ci-terminal:before {
	content: "\e652";
}
.ci-code2:before {
	content: "\e653";
}
.ci-reply-all:before {
	content: "\e654";
}
.ci-star-half-full:before {
	content: "\e655";
}
.ci-star-half:before {
	content: "\e656";
}
.ci-question2:before {
	content: "\e657";
}
.ci-info3:before {
	content: "\e658";
}
.ci-exclamation:before {
	content: "\e659";
}
.ci-superscript:before {
	content: "\e65a";
}
.ci-subscript:before {
	content: "\e65b";
}
.ci-quote-left:before {
	content: "\e65c";
}
.ci-quote-right:before {
	content: "\e65d";
}
.ci-instagram2:before {
	content: "\e65e";
}
.ci-eraser:before {
	content: "\e661";
}
.ci-puzzle:before {
	content: "\e662";
}
.ci-reorder:before {
	content: "\e663";
}
.ci-list-ul:before {
	content: "\e664";
}
.ci-list-ol:before {
	content: "\e665";
}
.ci-strike:before {
	content: "\e666";
}
.ci-underline3:before {
	content: "\e667";
}
.ci-font2:before {
	content: "\e668";
}
.ci-bold3:before {
	content: "\e669";
}
.ci-italic3:before {
	content: "\e66a";
}
.ci-facetime-video:before {
	content: "\e66b";
}
.ci-picture:before {
	content: "\e66c";
}
.ci-pencil:before {
	content: "\e66d";
}
.ci-map-marker:before {
	content: "\e66e";
}
.ci-adjust:before {
	content: "\e66f";
}
.ci-tint:before {
	content: "\e670";
}
.ci-signal:before {
	content: "\e671";
}
.ci-cog2:before {
	content: "\e672";
}
.ci-envelope:before {
	content: "\e673";
}
.ci-resize-full:before {
	content: "\e674";
}
.ci-resize-small:before {
	content: "\e675";
}
.ci-minus2:before {
	content: "\e676";
}
.ci-asterisk:before {
	content: "\e677";
}
.ci-paper-clip:before {
	content: "\e704";
}
.ci-calendar:before {
	content: "\e678";
}
.ci-calendar2:before {
	content: "\e679";
}
.ci-calendar3:before {
	content: "\e67a";
}
.ci-tag:before {
	content: "\e67d";
}
.ci-tag2:before {
	content: "\e67e";
}
.ci-quote2:before {
	content: "\e67f";
}
.ci-quote3:before {
	content: "\e680";
}
.ci-checkmark3:before {
	content: "\e681";
}
.ci-checkmark4:before {
	content: "\e682";
}
.ci-cancel:before {
	content: "\e683";
}
.ci-cancel2:before {
	content: "\e684";
}
.ci-plus2:before {
	content: "\e685";
}
.ci-plus3:before {
	content: "\e686";
}
.ci-minus3:before {
	content: "\e687";
}
.ci-minus4:before {
	content: "\e688";
}
.ci-notice:before {
	content: "\e689";
}
.ci-notice2:before {
	content: "\e68a";
}
.ci-picture2:before {
	content: "\e68b";
}
.ci-pictures:before {
	content: "\e68c";
}
.ci-pictures2:before {
	content: "\e68d";
}
.ci-camera2:before {
	content: "\e68e";
}
.ci-film2:before {
	content: "\e68f";
}
.ci-film22:before {
	content: "\e690";
}
.ci-tv:before {
	content: "\e691";
}
.ci-trashcan:before {
	content: "\e692";
}
.ci-vote:before {
	content: "\e693";
}
.ci-graduate:before {
	content: "\e694";
}
.ci-lab:before {
	content: "\e695";
}
.ci-tie:before {
	content: "\e696";
}
.ci-football:before {
	content: "\e697";
}
.ci-chart:before {
	content: "\e698";
}
.ci-chart2:before {
	content: "\e699";
}
.ci-locked:before {
	content: "\e69a";
}
.ci-unlocked2:before {
	content: "\e69b";
}
.ci-locked2:before {
	content: "\e69c";
}
.ci-unlocked3:before {
	content: "\e69d";
}
.ci-magnifier:before {
	content: "\e69e";
}
.ci-zoom-in2:before {
	content: "\e69f";
}
.ci-zoom-out2:before {
	content: "\e6a0";
}
.ci-layout:before {
	content: "\e6a1";
}
.ci-layout2:before {
	content: "\e6a2";
}
.ci-layout3:before {
	content: "\e6a3";
}
.ci-layout4:before {
	content: "\e6a4";
}
.ci-layout5:before {
	content: "\e6a5";
}
.ci-layout6:before {
	content: "\e6a6";
}
.ci-layout7:before {
	content: "\e6a7";
}
.ci-layout8:before {
	content: "\e6a8";
}
.ci-layout9:before {
	content: "\e6a9";
}
.ci-layout10:before {
	content: "\e6aa";
}
.ci-layout11:before {
	content: "\e6ab";
}
.ci-layout12:before {
	content: "\e6ac";
}
.ci-layout13:before {
	content: "\e6ad";
}
.ci-layout14:before {
	content: "\e6ae";
}
.ci-ruler:before {
	content: "\e6af";
}
.ci-ruler2:before {
	content: "\e6b0";
}
.ci-grid:before {
	content: "\e6b1";
}
.ci-list3:before {
	content: "\e6b2";
}
.ci-list4:before {
	content: "\e6b3";
}
.ci-grid2:before {
	content: "\e6b4";
}
.ci-tools:before {
	content: "\e6b5";
}
.ci-screwdriver:before {
	content: "\e6b6";
}
.ci-paint:before {
	content: "\e6b7";
}
.ci-hammer:before {
	content: "\e6b8";
}
.ci-brush:before {
	content: "\e6b9";
}
.ci-pen:before {
	content: "\e6ba";
}
.ci-attachment:before {
	content: "\e6bb";
}
.ci-edit2:before {
	content: "\e6bc";
}
.ci-crop2:before {
	content: "\e6bd";
}
.ci-square:before {
	content: "\e6be";
}
.ci-square2:before {
	content: "\e6bf";
}
.ci-circle:before {
	content: "\e6c0";
}
.ci-checked:before {
	content: "\e6c1";
}
.ci-error:before {
	content: "\e6c2";
}
.ci-add:before {
	content: "\e6c3";
}
.ci-minus5:before {
	content: "\e6c4";
}
.ci-locked-heart:before {
	content: "\e6c5";
}
.ci-clipboard:before {
	content: "\e6c6";
}
.ci-clipboard2:before {
	content: "\e6c7";
}
.ci-clipboard3:before {
	content: "\e6c8";
}
.ci-ruler3:before {
	content: "\e6c9";
}
.ci-cog:before {
	content: "\e705";
}
.ci-cogs:before {
	content: "\e706";
}
.ci-cog3:before {
	content: "\e707";
}
.ci-warning2:before {
	content: "\e708";
}
.ci-file:before {
	content: "\e709";
}
.ci-file2:before {
	content: "\e70a";
}
